* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

:root {
  --cell-size: 150px;
  --sign-size: calc(var(--cell-size) * 0.9);
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

.table__body {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-self: center;
  align-self: center;
}

.table__body--cell {
  display: grid;
  width: var(--cell-size);
  height: var(--cell-size);
  gap: 10px;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  font-size: var(--sign-size);
}